:root {
  /* Primary Colors */
  --bg-red: #fb1b1b;
  --bg-yellow: #d5a100;
  --bg-blue: #0a285f;
  /* Secondary Colors*/
  --bg-gray: #dfdfdf;
  --bg-white: #ffffff;
  --bg-black: #000000;
  /* fonts */
  --font-title: "Russo One", Arial, sans-serif;
  --font-body: "Roboto", Impact,  sans-serif;
  --box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  background: var(--bg-gray);
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--bg-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-yellow);
  border-radius: 10px;
  border: 4px solid var(--bg-gray);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-blue);
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
}

ul, 
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a { text-decoration: none; }


/* System Grid */ 
.main {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1100px;
  padding: 2.5em 1em;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.row__col--2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* BEM */

.nav {
  padding: 1em;
  display: flex;
}

.nav__navbar {
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
  list-style: none;
}

.nav__link {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-title);
  padding: 0.5em;
  transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.nav__link:hover {
  filter: drop-shadow( var(--box-shadow) );
  transform: translateY(-5px);
}

.nav__link img {
  width: 40px;
  height: auto;
  margin-right: 10px;
  filter: invert(1);
}

/* Body Pokemon */

.pokemon {
  text-align: center;
  position: relative;
}

.pokemon__name {
  background-color: var(--bg-white);
  width: 450px;
  padding: 1em;
  margin: 0 auto 30px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-transform: uppercase;
  font-family: var(--font-title);
}

.pokemon__image{
  width: 450px;
  height: 420px;
  object-fit: contain;
  transition: filter .5s ease-in-out, transform .7s ease-in-out;
}

.pokemon__image:hover {
  filter: drop-shadow( var(--box-shadow) );
  transform: translateY(-5px);
}

.card {
  max-width: 450px;
  padding: 1.5em;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 450px;
}

.card__features {
  columns: 2;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.card__features__item {
  padding: .5em;
  text-align: center;
  margin-bottom: 10px;
  transition: transform .5s ease-in-out;
  border-radius: 20px;
  background-color: rgba( 223, 223, 223, .2);
}

.card__features__item:hover {
  transform: translateY(-3px);
  background-color: var(--bg-gray);
}

.features__title {
  font-size: .9em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .6);
  font-weight: 500;
  margin: 0.7em auto;
}

.features__data {
  font-size: 1.5em;
  margin: .5em 0;
  font-family: var(--font-title);
  color: var(--bg-blue);
}

/* Footer */

.title-footer {
  display: flex;
  align-items: center;
  
}

.title-footer__title {
  font-size: 3em;
  text-transform: uppercase;
  color: var(--bg-blue);
  font-family: var(--font-title);
  letter-spacing: 1.5px;
  margin: 0 auto 0 1em;
}

.new-pokemons{
  padding: 1em;
  /* padding-right: 0; */
}

.new-pokemons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  columns: 4;
  gap: 10px;
  text-align: right;
  flex-wrap: wrap;
}

.new-pokemons__list__item {
  border-radius: 20px;
}

.new__button {
  padding: .5em;
  border: none;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  filter: grayscale(1);
  transition: transform .5s ease-in-out, filter .5s ease-in-out;
}

.new__button__image {
  width: 80px;
  height: 120px;
  object-fit: contain;
  transition: transform .5s ease-in-out, filter .5s ease-in-out;
}

.new__button:hover {
  filter: grayscale(0);
  transform: translateY(5px) rotate(3deg) scale(.9);
}

.new__button:hover .new__button__image {
  transform: translateY(-25px) scale(1.8);
  filter: drop-shadow( var(--box-shadow));
}

.bg-gray    { background-color: var(--bg-gray);   }
.bg-blue    { background-color: var(--bg-blue);   }
.bg-yellow  { background-color: var(--bg-yellow); }
.bg-white   { background-color: var(--bg-white);  }
.text-white { color: var(--bg-white); }

/* Responsive Mobile */
@media screen and ( max-width: 768px) {

  .row__col--2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .nav { 
    justify-content: center; 
  }

  .nav__link {
    font-size: 1.2em;
    justify-content: center;
  }

  .nav__link img {
    width: 30px;
    height: auto;
  }

  /* Grid System */

  .container {
    padding: 1.2em 0.8em;
    width: initial;
  }

  .row {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Body Pokemon */
  .pokemon {
    text-align: center;
  }

  .pokemon__name {
    max-width: 320px;
    font-size: 1.5em;
    padding: .5em;
    margin: 0 auto 30px;
  }

  .pokemon__image {
    margin-bottom: -6em;
    width: 90%;
    height: auto;
  }

  .card {
    padding: 1em;
    max-width: 320px;
  }

  .card__features {
    margin-top: 85px;
    columns: 1;
  }

  .card__features__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .5em 1.2em ;
    position: relative;
  }

  .features__title {
    margin-right: 15px;
    font-size: .8em;
    text-align: left;
    width: 50%;
  }

  .features__data {
    font-size: .9em;
    text-align: left;
    width: 50%;
  }

  .title-footer {
    justify-content: center;
  }

  .title-footer__title {
    font-size: 1.5em;
    margin: 15px 0;
  }

  .new-pokemons {
    padding: 0 4em;
  }
  
  .new-pokemons__list {
    columns: 2;
    gap: 5px;
  }

  .new-pokemons__list__item { 
    max-width: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: .5em;
  }
  .new__button__image {
    width: 50px;
    height: 60px;
  }
  
}
